# ====== Core de Orquestación ======
apache-airflow==2.9.2

# ====== Machine Learning y Análisis de Datos ======
scikit-learn
pandas
numpy
joblib

# ====== Visualización de Datos ======
matplotlib
seaborn

# ====== Conectividad y Proveedores de Airflow ======
apache-airflow-providers-http
apache-airflow-providers-mysql

# --- CAMBIO AQUÍ: usar PyMySQL en lugar de mysqlclient ---
PyMySQL

# ====== Utilidades Generales ======
requests
